body {
  margin: 0;
  padding: 0;
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;

}

a {
  text-decoration: none;
}

img {
  max-width: 100% ;
}
.container {
  background-color: #ffffff;
}

.list-unstyled {
  list-style: none;
}

.header-nav {
  display: flex;
  flex-direction: column;
}

.nav-logo {
  order: 2;
}

.menu {

}

.menu-item {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.menu-item:hover{
  color: #81b3d2;
}

.menu-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-item.current {
  color: #766357;
}

.about-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.about-text {
  font-size: 14px;
  line-height: 26px;
}

.features-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reason-1-info,
.reason-2-info {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-group {
  background-color: #eeeeee;
}

/* Иконки первой причины крутости */

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {


}

.housing-icon {
  width: 75px;
  height: 72px;
  background: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.food-icon {
  width: 75px;
  height: 72px;
  background: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.souvenirs-icon {
  width: 75px;
  height: 72px;
  background: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-form {
  background-color: #ffffff;
}

.search-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  background-color: #503e33;
}

.search-label {
  line-height: 26px;
  font-weight: 700;
}

.input-form {
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
}

.input-form:hover {
  background-color: #ebebeb;
}

.input-form:focus {
  background-color: #ffffff;
}

.input-calendar {
  border: none;
}

.calendar-icon {
  fill: #cacaca;
}

.input-calendar:hover .calendar-icon,
.input-calendar:focus .calendar-icon {
  fill: #000000;
}

.input-calendar:active .calendar-icon {
   fill: #81b3d2;
}

.input-wrap {
  background-color: #f2f2f2;
}

.minus,
.plus {
  fill:#a9a9a9;
  vertical-align: middle;
}

.minus:hover,
.plus:hover {
  fill:#000000;
}

.minus:active,
.plus:active {
  fill:#81b3d2;
}



.btn-submit {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #81b3d2;
}

.btn-submit:hover{
  background-color: #669ec0;
}

.btn-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer-more a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.tw-link{
  width: 17px;
  height: 15px;
  background-image: url(../img/twitter-icon.svg);
  background-repeat: no-repeat;
}

.fb-link{
  width: 12px;
  height: 22px;
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
}

.yt-link{
  width: 20px;
  height: 16px;
  background-image: url(../img/youtube-icon.svg);
  background-repeat: no-repeat;
}

.social-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  color: rgba(84, 150, 189, 0.3);
}

.copyright-text {
  line-height: 26px;
}

.hotel-filtration {
  background-image: url(../img/hotels-bg.jpg);
  background-color: #83accb;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:#f2f2f2;
}

.filter-legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}


/* Кнопка фильтра поиска */

.control-btn {
  font: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  text-transform: inherit;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.control-btn:hover,
.control-btn:focus {
  color: #000000;
  background-color: #ffffff;
}


.hotel-select-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-select-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotel-select-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.link-active {
  color: #81b3d2;
  border-color: transparent;
  pointer-events: none;
}

.hotel-select-link:hover,
.hotel-select-link:focus {
  color: #81b3d2;
}

.hotel-select-link:active {
  color: #000000;
  border-color: transparent;
}

.pointer-active {
  fill:#81b3d2;
}

.pointer-up,
.pointer-down {
  background-color: white;
  border:0px solid;
  width: 12px;
  cursor: pointer;
}
.point-img-up {
  fill: #cacaca;
}
.point-img-up:hover,
.point-img-down:hover {
  fill:#000000;
}
.point-img-up:active,
.point-img-down:active {
  fill:#81b3d2;
}


.hotels-name-link {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotels-item-type,
.hotels-item-price {
  color: #333333;
}

.btn {
  color: #f2f2f2;
  font-weight: 700;
}

.hotels-more-info {
  background-color: #81b3d2;
}

.hotels-more-info:hover {
  background-color: #669ec0;
}

.hotels-more-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotels-item-proceed {
  background-color: #766357;
}

.hotels-item-proceed:hover {
  background-color: #604e43;
}

.hotels-item-proceed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.star {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  width: 18px;
  height: 17px;
  margin-left: 4.5px;
  background: url(../img/star.svg);
}

.rating {
  color: #666666;
}

.copyright-link {
  width: 115px;
  height: 41px;
}

.html-academy-logo {
  width: 115px;
  height: 41px;
  fill: #231f20;
}


.html-academy-logo:hover {
  fill: #81b3d2;
}

.html-academy-logo:active {
  fill: #bdbbbc;
}
